grsdata filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
grsdata/GLINT/Rglint_L4 filter=lfs diff=lfs merge=lfs -text
grsdata/GLINT/Rglint_L5 filter=lfs diff=lfs merge=lfs -text
grsdata/GLINT/Rglint_L7 filter=lfs diff=lfs merge=lfs -text
grsdata/GLINT/Rglint_L8 filter=lfs diff=lfs merge=lfs -text
grsdata/GLINT/Rglint_S2A filter=lfs diff=lfs merge=lfs -text
grsdata/GLINT/Rglint_S2B filter=lfs diff=lfs merge=lfs -text
grsdata/sensor/wavelength_L5 filter=lfs diff=lfs merge=lfs -text
grsdata/sensor/wavelength_L7 filter=lfs diff=lfs merge=lfs -text
grsdata/sensor/wavelength_L8 filter=lfs diff=lfs merge=lfs -text
grsdata/sensor/wavelength_S2A filter=lfs diff=lfs merge=lfs -text
grsdata/sensor/wavelength_S2B filter=lfs diff=lfs merge=lfs -text
grsdata/sensor/wavelength_L4 filter=lfs diff=lfs merge=lfs -text
grsdata/Rayleigh/ROT_L4 filter=lfs diff=lfs merge=lfs -text
grsdata/Rayleigh/ROT_L5 filter=lfs diff=lfs merge=lfs -text
grsdata/Rayleigh/ROT_L7 filter=lfs diff=lfs merge=lfs -text
grsdata/Rayleigh/ROT_L8 filter=lfs diff=lfs merge=lfs -text
grsdata/Rayleigh/ROT_S2A filter=lfs diff=lfs merge=lfs -text
grsdata/Rayleigh/ROT_S2B filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L8/lut_L8_osoaa_band_integrated_aot0.3_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/S2B/lut_osoaa_band_integrated_aot0.1_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L5/lut_L5_osoaa_band_integrated_aot0.5_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L7/lut_L7_osoaa_band_integrated_aot0.5_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/S2B/lut_osoaa_band_integrated_aot0.5_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L5/lut_L5_osoaa_band_integrated_aot0.8_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L8/lut_L8_osoaa_band_integrated_aot0.8_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L4/lut_L4_osoaa_band_integrated_aot0.1_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/S2B/lut_osoaa_band_integrated_aot0.5_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/S2B/lut_osoaa_band_integrated_aot0.05_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/S2B/lut_osoaa_band_integrated_aot0.1_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L7/lut_L7_osoaa_band_integrated_aot0.1_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L7/lut_L7_osoaa_band_integrated_aot0.3_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L5/lut_L5_osoaa_band_integrated_aot0.5_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L7/lut_L7_osoaa_band_integrated_aot0.05_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L7/lut_L7_osoaa_band_integrated_aot0.5_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/S2A/lut_osoaa_band_integrated_aot0.05_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/S2B/lut_osoaa_band_integrated_aot0.8_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L4/lut_L4_osoaa_band_integrated_aot0.01_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L4/lut_L4_osoaa_band_integrated_aot0.3_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L7/lut_L7_osoaa_band_integrated_aot0.8_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L8/lut_L8_osoaa_band_integrated_aot0.01_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/S2A/lut_osoaa_band_integrated_aot0.01_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/S2A/lut_osoaa_band_integrated_aot0.3_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/S2B/lut_osoaa_band_integrated_aot0.01_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L4/lut_L4_osoaa_band_integrated_aot0.8_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L5/lut_L5_osoaa_band_integrated_aot0.05_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L8/lut_L8_osoaa_band_integrated_aot0.1_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/S2A/lut_osoaa_band_integrated_aot0.3_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L4/lut_L4_osoaa_band_integrated_aot0.05_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L7/lut_L7_osoaa_band_integrated_aot0.01_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L5/lut_L5_osoaa_band_integrated_aot0.3_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L8/lut_L8_osoaa_band_integrated_aot0.05_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/S2B/lut_osoaa_band_integrated_aot0.8_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L5/lut_L5_osoaa_band_integrated_aot0.01_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L5/lut_L5_osoaa_band_integrated_aot0.1_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L8/lut_L8_osoaa_band_integrated_aot0.3_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/S2B/lut_osoaa_band_integrated_aot0.3_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L4/lut_L4_osoaa_band_integrated_aot0.05_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L8/lut_L8_osoaa_band_integrated_aot0.1_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/S2A/lut_osoaa_band_integrated_aot0.8_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L5/lut_L5_osoaa_band_integrated_aot0.1_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L8/lut_L8_osoaa_band_integrated_aot0.05_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L7/lut_L7_osoaa_band_integrated_aot0.8_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/S2A/lut_osoaa_band_integrated_aot0.8_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/S2B/lut_osoaa_band_integrated_aot0.05_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L4/lut_L4_osoaa_band_integrated_aot0.8_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L7/lut_L7_osoaa_band_integrated_aot0.05_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L7/lut_L7_osoaa_band_integrated_aot0.3_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L8/lut_L8_osoaa_band_integrated_aot0.5_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/S2A/lut_osoaa_band_integrated_aot0.01_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/S2B/lut_osoaa_band_integrated_aot0.01_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/S2B/lut_osoaa_band_integrated_aot0.3_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L4/lut_L4_osoaa_band_integrated_aot0.5_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L5/lut_L5_osoaa_band_integrated_aot0.05_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L4/lut_L4_osoaa_band_integrated_aot0.3_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/S2A/lut_osoaa_band_integrated_aot0.5_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L4/lut_L4_osoaa_band_integrated_aot0.01_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L4/lut_L4_osoaa_band_integrated_aot0.1_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/S2A/lut_osoaa_band_integrated_aot0.05_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/S2A/lut_osoaa_band_integrated_aot0.1_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L7/lut_L7_osoaa_band_integrated_aot0.1_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L8/lut_L8_osoaa_band_integrated_aot0.01_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L8/lut_L8_osoaa_band_integrated_aot0.8_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/S2A/lut_osoaa_band_integrated_aot0.1_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L5/lut_L5_osoaa_band_integrated_aot0.8_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L7/lut_L7_osoaa_band_integrated_aot0.01_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L5/lut_L5_osoaa_band_integrated_aot0.3_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L8/lut_L8_osoaa_band_integrated_aot0.5_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/S2A/lut_osoaa_band_integrated_aot0.5_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L4/lut_L4_osoaa_band_integrated_aot0.5_aero_rg0.80_sig0.60_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
grsdata/LUT/L5/lut_L5_osoaa_band_integrated_aot0.01_aero_rg0.10_sig0.46_ws2_pressure1015.2.nc filter=lfs diff=lfs merge=lfs -text
