inputs/S2B_MSIL1C_20220929T103729_N0510_R008_T31TFJ_20240726T034550.nc filter=lfs diff=lfs merge=lfs -text
inputs/2024-07-26-cams-global-atmospheric-composition-forecasts.nc filter=lfs diff=lfs merge=lfs -text
inputs/COP-DEM_GLO-30-DGED_31TFJ.tif filter=lfs diff=lfs merge=lfs -text
inputs/S2B_MSIL1C_20220929T103729_N0510_R008_T31TFJ_20240726T034550.SAFE/** filter=lfs diff=lfs merge=lfs -text
